html body div.footer {
  width: 100%;
  background: $c_rhino;
  color: $c_white;
  margin: 0;
  padding: 2em 0;
  font-size: 0.9em;
  text-align: center;

  @include screen-small {
    display: block;
  }

  a {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
    margin: 0px 10px;

    &.inline {
      margin: 0;
    }

    &:hover {
      color: white;
      opacity: 1;
    }
  }

  p {
    @include page-wrapper();
    margin: 0.4em auto;

    &:last-child {
      margin-top: 1.5em;
    }
  }
}
