html body header.main-header {
  line-height: 22px;
  position: fixed;
  height: $header_height;
  background: $c_rhino;
  color: $c_white;
  width: 100%;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;

  h1.main-header__logo {
    flex-grow: 1;
    margin: 15px 20px;
    padding: 0;
    color: transparent;
    background: url("../images/kobologo.svg") no-repeat 0 100%;
    background-size: contain;

    a,
    a:hover {
      color: transparent;
      font-size: 1em;
    }
  }

  .main-header__navigation {
    ul {
      flex-grow: 0;
      margin: 0;
      padding: 24px 30px;
      list-style-type: none;
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;

      li {
        display: inline-block;
        margin-left: 1.2em;
        margin-right: 0;

        a {
          color: $c_white;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }

        &.current a {
          color: $c_blue;
        }

        @include screen-small {
          &:not(.current) {
            display: none;
          }
        }
      }
    }
  }
}
