html body header.main-header {
  line-height: 22px;
  position: fixed;
  height: $header_height;
  background: $c_rhino;
  color: $c_white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  top: 0;
  left: 0;

  .main-header__logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .main-header__logo {
    display: block;
    width: fit-content;
    height: fit-content;

    img {
      display: block;
      height: 65px;
      width: 250px;
    }
  }

  .main-header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 0;
      margin: 0;
      padding: 0 30px;
      list-style-type: none;
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;

      li {
        display: inline-block;
        margin-left: 1.2em;
        margin-right: 0;

        &.language-picker {
          display: flex;
          align-items: center;
          gap: 0.6em;
          text-transform: none;
        }

        a {
          color: $c_white;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }

        &.current a {
          color: $c_blue;
        }

        @include screen-small {
          &:not(.current) {
            display: none;
          }

          &.language-picker {
            display: inline-flex;
          }
        }
      }
    }

    .language-picker__label {
      font-size: 12px;
      letter-spacing: 0.04em;
      color: rgba($c_white, 0.8);
      text-transform: uppercase;
    }

    .language-picker__options {
      display: inline-flex;
      align-items: stretch;
      border: 1px solid rgba($c_white, 0.35);
      border-radius: 999px;
      overflow: hidden;
      background: rgba($c_white, 0.06);
    }

    .language-picker__option {
      padding: 6px 12px;
      color: $c_white;
      text-decoration: none;
      line-height: 1;
      transition: $link_transition;

      &:not(:last-child) {
        border-right: 1px solid rgba($c_white, 0.25);
      }

      &:hover,
      &:focus-visible {
        background: rgba($c_white, 0.12);
        outline: none;
      }

      &.language-picker__option--active {
        background: $c_blue;
        border-color: $c_blue;
      }
    }
  }
}
