i.icon {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  line-height: 0;

  svg {
    color: inherit;
    shape-rendering: geometricPrecision;
    fill: currentColor;
  }
}

// Global styles for icons from KPI

.k-icon {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  line-height: 0;
  font-size: 1.25em;
}
