.main-search {
  width: 100%;

  &.main-search--big {
    @include blue-photo-bg();

    .wrapper {
      background-color: rgba($c_smalt, 0.6);
      position: relative;
      z-index: 1;
    }

    .main-search__form {
      padding-bottom: 0;
    }
  }

  .wrapper {
    width: 100%;
    background-color: rgba($c_smalt, 0.7);
  }

  &:not(.main-search--big) {
    .main-search__header,
    .main-search__paragraph,
    .main-search__arrow {
      display: none;
    }
  }

  .main-search__header,
  .main-search__paragraph {
    line-height: 1;
    color: $c_white;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .main-search__header {
    font-family: $font_source;
    font-weight: 700;
    font-size: rem(36px);
    padding-top: rem(64px);
  }

  .main-search__paragraph {
    font-size: rem(16px);
    padding-top: rem(8px);
  }

  .main-search__arrow {
    cursor: pointer;
    display: block;
    box-sizing: content-box;
    width: rem(23px);
    margin: 0 auto;
    padding: rem(30px) rem(30px) rem(24px);
    color: $c_white;
    text-align: center;

    svg {
      width: rem(23px);
      height: auto;
      transition: all 0.2s;
    }

    &:hover {
      svg {
        scale: 1.2;
      }
    }
  }

  .main-search__content {
    @include page-wrapper();
  }

  .main-search__form {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
  }

  .main-search__magnifying-glass {
    position: absolute;
    top: rem(18px);
    left: rem(20px);
    color: $c_manatee;
    transition: $link_transition;
    pointer-events: none;

    svg {
      width: rem(30px);
      height: rem(30px);
    }
  }

  .main-search__text-box-wrapper {
    position: relative;
  }

  .main-search__text-box {
    font-size: rem(18px);
    line-height: rem(20px);
    height: rem(60px);
    width: 100%;
    padding: rem(20px) rem(32px) rem(20px) rem(64px);
    border-radius: rem(30px);
    border: 1px solid $c_linkwater;
    color: $c_rhino;
    background-color: $c_white;
    appearance: none;

    &:focus {
      outline: none;
      border-color: $c_riverbed;
    }

    &:focus + .main-search__magnifying-glass {
      color: $c_rhino;
    }

    &:hover + .main-search__magnifying-glass {
      color: $c_riverbed;
    }

    &::placeholder {
      color: $c_manatee;
    }
  }

  .main-search__submit-button {
    visibility: hidden;
    position: fixed;
  }
}
