@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin button() {
  cursor: pointer;
  font-family: $font_source;
  font-weight: 600;
  font-size: inherit;
  line-height: 1em;
  height: 2em;
  background: $c_blue;
  color: $c_white !important;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 1em 0.4em;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: none !important;
  box-sizing: border-box;

  &:hover {
    background: darken($c_blue, 15%);
    color: $c_white !important;
  }
}

@mixin input() {
  font-size: inherit;
  line-height: 1em;
  height: 2em;
  background: $c_white;
  color: $c_rhino;
  padding: 0.5em 1em 0.4em;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: rgba($c_rhino, 0.5);
  }
}

// "mid" element appears to be above regular box-shadow elements
// "top" element appears to be above mid box-shadow elements
@mixin box-shadow($type: normal) {
  $size: 2px;

  @if $type == mid {
    $size: 8px;
  }

  @if $type == top {
    $size: 12px;
  }

  box-shadow: 0 0 #{$size} 0 rgba(0, 0, 0, 0.06), 0 #{$size} #{$size} 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

@mixin screen-small() {
  @media screen and (max-width: $alabaster_breakpoint) {
    @content;
  }
}

@mixin screen-big() {
  @media screen and (min-width: $alabaster_breakpoint + 1px) {
    @content;
  }
}

@mixin blue-photo-bg() {
  background-image: url("../images/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(36px);
    opacity: 0.6;
  }

  &::before {
    background: linear-gradient(to top, transparent, $c_rhino);
    top: 0;
  }

  &::after {
    background: linear-gradient(to bottom, transparent, $c_rhino);
    bottom: 0;
  }
}

@mixin page-wrapper() {
  width: 100%;
  max-width: rem($max_width) + 2 * rem(45px);
  padding-left: rem(45px);
  padding-right: rem(45px);
  margin: 0 auto;
}
