$c_rhino: hsl(230deg 12% 29%);
$c_riverbed: hsl(223deg 19% 33%);
$c_manatee: hsl(228deg 12% 59%);
$c_gray: hsl(228deg 13% 69%);
$c_linkwater: hsl(222deg 26% 85%);
$c_solitude: hsl(228deg 12% 92%);
$c_zumthor: hsl(207deg 92% 95%);
$c_whitesmoke: hsl(210deg 12% 97%);
$c_white: hsl(0deg 0% 100%);

$c_smalt: hsl(209deg 100% 28%);
$c_blue: hsl(207deg 90% 54%);
$c_denim: hsl(207deg 90% 39%);
$c_green: hsl(185deg 57% 57%);

$header_height: 70px;

$alabaster_breakpoint: 875px;

$min_width: 320px;
$max_width: 1150px;
$min_font: 14px;
$average_font: 16px; // used for rems
$max_font: 18px;
$link_transition: all 0.2s;

$font_source: "Source Sans Pro", sans-serif;
$font_roboto: "Roboto", sans-serif;
