{% extends "!layout.html" %}

{# Copied this block from Alabaster source and modified heavily #}
{%- block content %}
<div class="page {% if pagename != 'index' %}page--has-sidebar{% endif %}" id="{{ pagename }}">
  {%- block document %}
    <section class="page__content">
      <section class="page__body" role="main">
        {% block body %} {% endblock %}
        <div class="clearer"></div>
      </section>

      {%- block relbar_bottom %}
        {%- if theme_show_relbar_bottom|tobool and pagename != "index" %}
          <section class="page__related">
            {{- rellink_markup () }}
          </section>
        {%- endif %}
      {% endblock %}
    </section>

    {% if pagename != "index" %}
      {% include('./partials/sidebar.html') %}
    {% endif %}
  {%- endblock %}
  <div class="clearer"></div>
</div>
{%- endblock %}

{# This block is empty in original theme, we use it to display header menu #}
{% block relbar1 %}
{% include('./partials/header.html') %}
{% include('./partials/search.html') %}
{% endblock %}

{%- block footer %}
  {% if pagename == "index" %}{% include('./partials/community_questions.html') %}{% endif %}

  <div class="footer">
    KoBoToolbox at the Harvard Humanitarian Initiative 14 Story St, Second floor, Cambridge, MA 02138
  </div>

  {% if theme_analytics_id %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ theme_analytics_id }}']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

  <script>
    window.docs = {
      currentPagename: "{{ pagename }}",
      currentTitle: "{{ title }}",
    };
  </script>
{%- endblock %}
