{% extends "!layout.html" %}

{% import "_config.html" as config %}

{# Copied this block from Alabaster source and modified heavily #}
{%- block content %}
<div class="page {% if pagename != 'index' %}page--has-sidebar{% endif %} {% block page_classes %}{% endblock %}" id="{{ pagename }}">
  <div class="page__wrapper">
    {%- block document %}
      <section class="page__content">
        {% if pagename != "index" %}
        <nav class="page__breadcrumbs">
          <ul id="breadcrumbslist" class="breadcrumbs"><li class="breadcrumb breadcrumb--home">
            <a href="{{ pathto(master_doc) }}">{% include('../_static/icons/home.svg') %}Home</a>
          </li></ul>
        </nav>
        {% endif %}

        <section class="page__body" role="main">
          {% block body %} {% endblock %}
          <div class="clearer"></div>
        </section>

        {% if pagename != "index" %}
          <section class="page__feedback">
            <h1>Was this article useful?</h1>

            <p>Did you find what you were looking for? Was the information clear? Was anything missing?<br>Share your feedback to help us improve this article!</p>

            <a
              href="https://ee.humanitarianresponse.info/OPizwor2?d[page]={{ title }}"
              class="feedback-button"
              target="_blank"
            >
              Fill out the short survey here &rarr;
            </a>
          </section>
        {%- endif %}
      </section>

      {% if pagename != "index" %}
        {% include('partials/sidebar.html') %}
      {% endif %}
    {%- endblock %}
  </div>
  <div class="clearer"></div>
</div>
{%- endblock %}

{# This block is empty in original theme, we use it to display header menu #}
{% block relbar1 %}
{% include('partials/header.html') %}
{% include('partials/search.html') %}
{% endblock %}

{%- block footer %}
  {% if pagename == "index" %}{% include('partials/community_questions.html') %}{% endif %}

  <div class="footer">
    <p>KoBoToolbox at the Harvard Humanitarian Initiative 14 Story St, Second floor, Cambridge, MA 02138</p>
  </div>

  {% if theme_analytics_id %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ theme_analytics_id }}']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

  <script>
    window.docs = {
      currentPagename: "{{ pagename }}",
      currentTitle: "{{ title }}",
      currentUrl: ("{{ pathto(master_doc) }}").replace("index.html", "{{ pagename }}.html"),
      rootUrl: "{{ url_root }}",
      sectionsData: {{ config.sections_data|tojson }},
    };
  </script>
{%- endblock %}
