<section class="community-questions {% if pagename == 'index' %}community-questions--big{% else %}community-questions--sidebar{% endif %}">
  <div class="wrapper">
    <h1>Questions from the community</h1>

    <p>For issues, questions, ideas, or to read anouncements on new releases, please head to our community forum</p>

    <a class="button" href="https://community.kobotoolbox.org/">
      {% if pagename == 'index' %}
      Visit KoboToolbox forum
      {% else %}
      Visit our forum
      {% endif %}
    </a>
  </div>
</section>
