<section class="community-questions {% if pagename == 'index' %}community-questions--big{% else %}community-questions--sidebar{% endif %}">
  <div class="wrapper">
    <h1>Community Forum</h1>

    <p>For questions, ideas, and announcements on new releases, please head to our Community Forum.</p>

    <a class="button" href="https://community.kobotoolbox.org/">
      {% if pagename == 'index' %}
      Visit KoboToolbox forum
      {% else %}
      Visit our forum
      {% endif %}
    </a>
  </div>

   {% if pagename == 'index' %}
      
      {% else %}
        <br><br>
  

  <div class="wrapper">
    <h1>KoboToolbox Academy</h1>

    <p>KoboToolbox Academy offers high quality self-paced courses, created by KoboToolbox experts.</p>

    <a class="button" href="https://academy.kobotoolbox.org">
      Visit the KoboToolbox Academy
      {% endif %}
    </a>
  </div>
</section>
