<header role="banner" class="main-header" id="main-header">
  <div class="main-header__logo-container">
    <a href="https://kobotoolbox.org/#home" class="main-header__logo">
      <img src="./_static/images/kobologo.svg" alt="KoboToolbox">
    </a>
  </div>
  <nav class="main-header__navigation" role="navigation">
    <ul>
      <li><a href={{ pathto(master_doc) }}>Home</a></li>
      <li><a href="https://www.kobotoolbox.org/about-us">About us</a></li>
      <li><a href="https://www.kobotoolbox.org/features">Features</a></li>
      <li><a href="https://www.kobotoolbox.org/services">Services</a></li>
      <li><a href="https://www.kobotoolbox.org/pricing">Pricing</a></li>
      <li><a href="https://www.kobotoolbox.org/blog">Blog</a></li>
      <li class="current"><a href="https://www.kobotoolbox.org/help">Help</a></li>
      <li>
        <a class="button" href="https://kobotoolbox.org/donate">Donate</a>
      </li>
    </ul>
  </nav>
</header>
