@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Sans+Pro:600");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.25em;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 4 * ((100vw - 320px) / 830));
  }
}

@media screen and (min-width: 1150px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: #414453;
  background: #f6f7f8;
}

a,
.link {
  cursor: pointer;
  color: #2095f3;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
.link:hover {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #0a6dbc;
}

a.button,
.link.button {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: inherit;
  line-height: 1em;
  height: 2em;
  background: #2095f3;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 1em 0.4em;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a.button:hover,
.link.button:hover {
  background: #0a6dbc;
  color: #fff !important;
}

a.button.button--black,
.link.button.button--black {
  background: #414453;
}

a.button.button--black:hover,
.link.button.button--black:hover {
  background: #1f2128;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
  color: inherit;
  shape-rendering: geometricPrecision;
  fill: currentColor;
}

i.icon {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  line-height: 0;
}

i.icon svg {
  color: inherit;
  shape-rendering: geometricPrecision;
  fill: currentColor;
}

html body header.main-header {
  position: fixed;
  height: 70px;
  background: #414453;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;
}

html body header.main-header h1.main-header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 15px 20px;
  padding: 0;
  color: transparent;
  background: url("../images/kobologo.svg") no-repeat 0 100%;
  background-size: contain;
}

html body header.main-header h1.main-header__logo a,
html body header.main-header h1.main-header__logo a:hover {
  color: transparent;
  font-size: 1em;
}

html body header.main-header .main-header__navigation ul {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0;
  padding: 24px 30px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

html body header.main-header .main-header__navigation ul li {
  display: inline-block;
  margin-left: 1.2em;
  margin-right: 0;
}

html body header.main-header .main-header__navigation ul li a {
  color: #fff;
  text-decoration: none;
}

html body header.main-header .main-header__navigation ul li a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 769px) {
  html body header.main-header .main-header__navigation ul li.current a {
    color: #2095f3;
  }
}

@media screen and (max-width: 359px) {
  html body header.main-header .main-header__navigation ul {
    padding: 24px 15px;
  }
}

.main-search {
  width: 100%;
}

.main-search.main-search--big {
  background-image: url("../images/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
  position: relative;
}

.main-search.main-search--big::before, .main-search.main-search--big::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.25rem;
  opacity: 0.6;
}

.main-search.main-search--big::before {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#444d63));
  background: -o-linear-gradient(bottom, transparent, #444d63);
  background: linear-gradient(to top, transparent, #444d63);
  top: 0;
}

.main-search.main-search--big::after {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#444d63));
  background: -o-linear-gradient(top, transparent, #444d63);
  background: linear-gradient(to bottom, transparent, #444d63);
  bottom: 0;
}

.main-search.main-search--big .wrapper {
  background-color: rgba(0, 74, 141, 0.6);
}

.main-search .wrapper {
  width: 100%;
  background-color: rgba(0, 74, 141, 0.7);
}

.main-search:not(.main-search--big) .main-search__header,
.main-search:not(.main-search--big) .main-search__paragraph,
.main-search:not(.main-search--big) .main-search__arrow {
  display: none;
}

.main-search .main-search__header,
.main-search .main-search__paragraph {
  line-height: 1;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-search .main-search__header {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  padding-top: 4rem;
}

.main-search .main-search__paragraph {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.main-search .main-search__arrow {
  display: block;
  text-align: center;
  color: #fff;
  padding-bottom: 1.5rem;
}

.main-search .main-search__arrow svg {
  width: 1.875rem;
}

.main-search .main-search__form {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 1.875rem 0.5rem;
}

.main-search .main-search__magnifying-glass {
  position: absolute;
  top: 1.125rem;
  left: 1.25rem;
  color: #8a8fa3;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none;
}

.main-search .main-search__magnifying-glass svg {
  width: 1.875rem;
  height: 1.875rem;
}

.main-search .main-search__text-box-wrapper {
  position: relative;
}

.main-search .main-search__text-box {
  font-size: 1.125rem;
  line-height: 1.25rem;
  height: 3.75rem;
  width: 100%;
  padding: 1.25rem 2rem 1.25rem 4rem;
  border-radius: 1.875rem;
  border: 1px solid #cfd5e3;
  color: #414453;
  background-color: #fff;
}

.main-search .main-search__text-box:focus + .main-search__magnifying-glass {
  color: #414453;
}

.main-search .main-search__text-box::-webkit-input-placeholder {
  color: #8a8fa3;
}

.main-search .main-search__text-box::-moz-placeholder {
  color: #8a8fa3;
}

.main-search .main-search__text-box:-ms-input-placeholder {
  color: #8a8fa3;
}

.main-search .main-search__text-box::-ms-input-placeholder {
  color: #8a8fa3;
}

.main-search .main-search__text-box::placeholder {
  color: #8a8fa3;
}

.main-search .main-search__submit-button {
  visibility: hidden;
  position: fixed;
}

html body {
  padding-top: 70px;
}

html body div.document {
  margin: 0 auto;
  width: 100%;
  max-width: 1150px;
  color: #444d63;
}

div.document a.reference {
  border-bottom: none;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

div.document a.reference:hover {
  border-bottom: none;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

div.document a.headerlink {
  color: rgba(65, 68, 83, 0.5);
}

div.document a.headerlink:hover {
  color: #2095f3;
  background: none;
}

div.document div.body h1,
div.document div.body h2,
div.document div.body h3,
div.document div.sphinxsidebar h1,
div.document div.sphinxsidebar h2,
div.document div.sphinxsidebar h3 {
  font-weight: 600;
  line-height: 1.25em;
  text-transform: uppercase;
}

div.document div.body h1,
div.document div.body h2,
div.document div.body h3,
div.document div.body h4,
div.document div.body h5,
div.document div.body h6,
div.document div.sphinxsidebar h1,
div.document div.sphinxsidebar h2,
div.document div.sphinxsidebar h3,
div.document div.sphinxsidebar h4,
div.document div.sphinxsidebar h5,
div.document div.sphinxsidebar h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: inherit;
  font-weight: initial;
  padding: 0;
}

div.document div.body h1,
div.document div.sphinxsidebar h1 {
  font-size: 2em;
}

div.document div.body h2,
div.document div.sphinxsidebar h2 {
  font-size: 1.5em;
}

div.document div.body h3,
div.document div.sphinxsidebar h3 {
  font-size: 1.25em;
}

div.document div.body h4,
div.document div.sphinxsidebar h4 {
  font-size: 1.125em;
}

div.document div.body,
div.document div.sphinxsidebarwrapper {
  padding: 3.125rem 1.875rem 1.875rem;
}

div.document div.related.bottom {
  border-top: 1px solid #e8e9ed;
  padding: 1em;
  line-height: inherit;
}

div.document div.related.bottom nav#rellinks {
  display: block;
  width: 100%;
  float: none;
}

div.document div.related.bottom nav#rellinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.document div.related.bottom nav#rellinks ul li:first-of-type {
  text-align: left;
}

div.document div.related.bottom nav#rellinks ul li:last-of-type {
  text-align: right;
}

div.document div.related.bottom nav#rellinks ul li + li::before {
  content: none;
}

div.document div.bodywrapper {
  background: none;
}

@media screen and (min-width: 876px) {
  div.document div.bodywrapper {
    margin-bottom: 1.875rem;
  }
}

div.document div.body {
  color: inherit;
  background: inherit;
  min-width: 320px;
  max-width: 1150px;
}

div.document div.body h1,
div.document div.body h2,
div.document div.body h3,
div.document div.body h4,
div.document div.body h5,
div.document div.body h6 {
  margin: 1em 0;
}

div.document div.body h1 {
  margin-top: 0;
}

div.document div.body tt,
div.document div.body code {
  background-color: #e8e9ed;
  color: inherit;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  line-height: 0.8em;
  font-size: 0.8em;
  vertical-align: middle;
}

div.document div.body p,
div.document div.body dd,
div.document div.body li {
  line-height: inherit;
}

div.document div.sphinxsidebarwrapper {
  padding-top: 0;
}

@media screen and (min-width: 876px) {
  div.document div.sphinxsidebarwrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

div.document div.sphinxsidebar {
  font-size: inherit;
  line-height: 1.5;
}

@media screen and (max-width: 875px) {
  div.document div.sphinxsidebar {
    width: 100%;
    margin: 0;
    padding: 0;
    background: initial;
    color: inherit;
  }
}

div.document div.sphinxsidebar h1,
div.document div.sphinxsidebar h2,
div.document div.sphinxsidebar h3,
div.document div.sphinxsidebar h4,
div.document div.sphinxsidebar h5,
div.document div.sphinxsidebar h6 {
  margin: 1em 0 0.5em 0;
}

div.document div.sphinxsidebar a {
  color: inherit;
}

div.document div.sphinxsidebar p.caption,
div.document div.sphinxsidebar ul {
  color: inherit;
  margin: 1em 0;
  padding: 0;
}

div.document div.sphinxsidebar p.caption:last-child,
div.document div.sphinxsidebar ul:last-child {
  margin-bottom: 0;
}

div.document div.sphinxsidebar p.caption {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.25;
}

div.document div.sphinxsidebar ul {
  font-size: 0.8em;
  list-style: none;
}

div.document div.sphinxsidebar ul li:not(:last-of-type) {
  margin-bottom: 0.5em;
}

div.document div.sphinxsidebar ul li.toctree-l1 a,
div.document div.sphinxsidebar ul li.toctree-l2 a {
  font-size: inherit;
}

div.document div.sphinxsidebar ul li.toctree-l2 {
  list-style: circle;
  margin-left: 1em;
}

div.document div.sphinxsidebar #searchbox {
  margin-bottom: 1em;
}

div.document div.sphinxsidebar #searchbox #searchlabel {
  margin: 0 0 0.5em;
}

div.document div.sphinxsidebar #searchbox form.search input[type="text"] {
  font-size: inherit;
  line-height: 1em;
  height: 2em;
  background: #fff;
  color: #414453;
  padding: 0.5em 1em 0.4em;
  border-radius: 5px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 65%;
}

div.document div.sphinxsidebar #searchbox form.search input[type="text"]::-webkit-input-placeholder {
  color: rgba(65, 68, 83, 0.5);
}

div.document div.sphinxsidebar #searchbox form.search input[type="text"]::-moz-placeholder {
  color: rgba(65, 68, 83, 0.5);
}

div.document div.sphinxsidebar #searchbox form.search input[type="text"]:-ms-input-placeholder {
  color: rgba(65, 68, 83, 0.5);
}

div.document div.sphinxsidebar #searchbox form.search input[type="text"]::-ms-input-placeholder {
  color: rgba(65, 68, 83, 0.5);
}

div.document div.sphinxsidebar #searchbox form.search input[type="text"]::placeholder {
  color: rgba(65, 68, 83, 0.5);
}

div.document div.sphinxsidebar #searchbox form.search input[type="submit"] {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: inherit;
  line-height: 1em;
  height: 2em;
  background: #2095f3;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 1em 0.4em;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34%;
  margin-left: 1%;
}

div.document div.sphinxsidebar #searchbox form.search input[type="submit"]:hover {
  background: #0a6dbc;
  color: #fff !important;
}

html body div.footer {
  width: 100%;
  background: #414453;
  color: #fff;
  margin: 0;
  padding: 2em 0;
  font-size: 0.9em;
  text-align: center;
}

@media screen and (max-width: 875px) {
  html body div.footer {
    display: block;
  }
}

html body div.footer a {
  color: inherit;
}

.community-questions {
  background-image: url("../images/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
  position: relative;
  background-position: center 87%;
}

.community-questions::before, .community-questions::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.25rem;
  opacity: 0.6;
}

.community-questions::before {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#444d63));
  background: -o-linear-gradient(bottom, transparent, #444d63);
  background: linear-gradient(to top, transparent, #444d63);
  top: 0;
}

.community-questions::after {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#444d63));
  background: -o-linear-gradient(top, transparent, #444d63);
  background: linear-gradient(to bottom, transparent, #444d63);
  bottom: 0;
}

.community-questions .wrapper {
  padding: 4.5rem 1rem 6rem;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 74, 141, 0.6);
}

.community-questions h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 1rem;
}

.community-questions p {
  font-size: 1.125rem;
  margin: 0 auto 3rem;
}

.community-questions a.button {
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.document#index .documentwrapper {
  float: none;
}

.document#index .documentwrapper .bodywrapper {
  margin-left: 0;
}

.document#index .body #topics > h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  text-align: center;
  margin: 0 0 0.75rem;
}

.document#index .body #topics > p {
  font-size: 1.125rem;
  margin: 0 0 2.625rem;
  text-align: center;
  color: #8a8fa3;
}

.document#index .body .headerlink {
  display: none;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] {
  background: #fff;
  padding: 1.875rem;
}

@media screen and (min-width: 876px) {
  .document#index .toctree-wrapper[id^="home-page-toc-"] {
    width: 30%;
    float: left;
  }
  .document#index .toctree-wrapper[id^="home-page-toc-"]:nth-of-type(3n+1), .document#index .toctree-wrapper[id^="home-page-toc-"]:nth-of-type(3n+2) {
    margin-right: 1.875rem;
  }
  .document#index .toctree-wrapper[id^="home-page-toc-"]:nth-of-type(n+4) {
    margin-top: 1.875rem;
  }
}

@media screen and (max-width: 875px) {
  .document#index .toctree-wrapper[id^="home-page-toc-"] {
    width: 100%;
  }
  .document#index .toctree-wrapper[id^="home-page-toc-"]:not(:first-of-type) {
    margin-top: 1.875rem;
  }
}

.document#index .toctree-wrapper[id^="home-page-toc-"] .caption {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1;
  padding: 0.3125rem 0;
  margin: 0 0 1.5rem;
  padding-left: 3.125rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.875rem 1.875rem;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] ul ul {
  display: none;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] ul li:not(:first-child) {
  margin-top: 1rem;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] a,
.document#index .toctree-wrapper[id^="home-page-toc-"] .link {
  text-decoration: underline;
  color: inherit;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] a:hover,
.document#index .toctree-wrapper[id^="home-page-toc-"] .link:hover {
  opacity: 0.8;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] .show-all-button {
  float: right;
  margin-top: 1.25rem;
}

.document#index .toctree-wrapper[id^="home-page-toc-"] .show-all-button::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3125rem;
  width: 0.3125rem;
  height: 0.625rem;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 0.3125rem 0.625rem;
  background-image: url("../icons/custom/toc-chevron-right.svg");
}

.document#index .toctree-wrapper[id="home-page-toc-getting-started"] .caption {
  background-image: url("../icons/custom/getting-started.svg");
}

.document#index .toctree-wrapper[id="home-page-toc-creating-forms"] .caption {
  background-image: url("../icons/custom/creating-forms.svg");
}

.document#index .toctree-wrapper[id="home-page-toc-collecting-data"] .caption {
  background-image: url("../icons/custom/collecting-data.svg");
}

.document#index .toctree-wrapper[id="home-page-toc-managing-projects"] .caption {
  background-image: url("../icons/custom/managing-projects.svg");
}

.document#index .toctree-wrapper[id="home-page-toc-computer-server"] .caption {
  background-image: url("../icons/custom/computer-server.svg");
}
/*# sourceMappingURL=kobo_theme.css.map */