@font-face {
  font-family: "k-icons";
  src: url("./k-icons.woff2?df6186bfb1749d1c121f86287d57a721") format("woff2"),
url("./k-icons.woff?df6186bfb1749d1c121f86287d57a721") format("woff"),
url("./k-icons.ttf?df6186bfb1749d1c121f86287d57a721") format("truetype"),
url("./k-icons.eot?df6186bfb1749d1c121f86287d57a721?#iefix") format("embedded-opentype"),
url("./k-icons.svg?df6186bfb1749d1c121f86287d57a721#k-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.k-icon,
[class^="k-icon-"] {
  font-family: "k-icons";
  font-style: normal;
  font-weight: normal;
}

.k-icon::before,
[class^="k-icon-"]::before,
[class*=" k-icon-"]::before {
  font-family: "k-icons" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-icon-alert::before {content: "\f101";}
.k-icon-archived::before {content: "\f102";}
.k-icon-arrow-down-left::before {content: "\f103";}
.k-icon-arrow-down-right::before {content: "\f104";}
.k-icon-arrow-down::before {content: "\f105";}
.k-icon-arrow-left::before {content: "\f106";}
.k-icon-arrow-right::before {content: "\f107";}
.k-icon-arrow-up-left::before {content: "\f108";}
.k-icon-arrow-up-right::before {content: "\f109";}
.k-icon-arrow-up::before {content: "\f10a";}
.k-icon-attach::before {content: "\f10b";}
.k-icon-background-rec::before {content: "\f10c";}
.k-icon-block::before {content: "\f10d";}
.k-icon-caret-down::before {content: "\f10e";}
.k-icon-caret-left::before {content: "\f10f";}
.k-icon-caret-right::before {content: "\f110";}
.k-icon-caret-up::before {content: "\f111";}
.k-icon-cascading::before {content: "\f112";}
.k-icon-check-circle::before {content: "\f113";}
.k-icon-check::before {content: "\f114";}
.k-icon-clone::before {content: "\f115";}
.k-icon-close::before {content: "\f116";}
.k-icon-data-sync::before {content: "\f117";}
.k-icon-deploy::before {content: "\f118";}
.k-icon-down::before {content: "\f119";}
.k-icon-download::before {content: "\f11a";}
.k-icon-drafts::before {content: "\f11b";}
.k-icon-edit::before {content: "\f11c";}
.k-icon-email::before {content: "\f11d";}
.k-icon-expand-arrow::before {content: "\f11e";}
.k-icon-expand::before {content: "\f11f";}
.k-icon-file-audio::before {content: "\f120";}
.k-icon-file-image::before {content: "\f121";}
.k-icon-file-video::before {content: "\f122";}
.k-icon-file::before {content: "\f123";}
.k-icon-filter-arrows::before {content: "\f124";}
.k-icon-filter::before {content: "\f125";}
.k-icon-folder-in::before {content: "\f126";}
.k-icon-folder-out::before {content: "\f127";}
.k-icon-folder-plus::before {content: "\f128";}
.k-icon-folder-public::before {content: "\f129";}
.k-icon-folder-shared::before {content: "\f12a";}
.k-icon-folder-subscribed::before {content: "\f12b";}
.k-icon-folder::before {content: "\f12c";}
.k-icon-form-archived::before {content: "\f12d";}
.k-icon-form-deployed::before {content: "\f12e";}
.k-icon-form-draft::before {content: "\f12f";}
.k-icon-form-locked::before {content: "\f130";}
.k-icon-form-overview::before {content: "\f131";}
.k-icon-form::before {content: "\f132";}
.k-icon-forum::before {content: "\f133";}
.k-icon-freeze::before {content: "\f134";}
.k-icon-globe-alt::before {content: "\f135";}
.k-icon-globe::before {content: "\f136";}
.k-icon-group-split::before {content: "\f137";}
.k-icon-group::before {content: "\f138";}
.k-icon-heatmap::before {content: "\f139";}
.k-icon-help-articles::before {content: "\f13a";}
.k-icon-help::before {content: "\f13b";}
.k-icon-hide::before {content: "\f13c";}
.k-icon-information::before {content: "\f13d";}
.k-icon-intercom::before {content: "\f13e";}
.k-icon-kobo::before {content: "\f13f";}
.k-icon-language-default::before {content: "\f140";}
.k-icon-language-settings::before {content: "\f141";}
.k-icon-language::before {content: "\f142";}
.k-icon-layer::before {content: "\f143";}
.k-icon-library-public::before {content: "\f144";}
.k-icon-library::before {content: "\f145";}
.k-icon-link::before {content: "\f146";}
.k-icon-lock-alt::before {content: "\f147";}
.k-icon-lock::before {content: "\f148";}
.k-icon-logo-github::before {content: "\f149";}
.k-icon-logo-instagram::before {content: "\f14a";}
.k-icon-logo-linkedin::before {content: "\f14b";}
.k-icon-logo-twitter::before {content: "\f14c";}
.k-icon-logout::before {content: "\f14d";}
.k-icon-map-view::before {content: "\f14e";}
.k-icon-media-files::before {content: "\f14f";}
.k-icon-menu::before {content: "\f150";}
.k-icon-minus::before {content: "\f151";}
.k-icon-more-vertical::before {content: "\f152";}
.k-icon-more::before {content: "\f153";}
.k-icon-next::before {content: "\f154";}
.k-icon-notification::before {content: "\f155";}
.k-icon-pause::before {content: "\f156";}
.k-icon-pdf::before {content: "\f157";}
.k-icon-photo-gallery::before {content: "\f158";}
.k-icon-pins::before {content: "\f159";}
.k-icon-plus::before {content: "\f15a";}
.k-icon-prev::before {content: "\f15b";}
.k-icon-print::before {content: "\f15c";}
.k-icon-projects::before {content: "\f15d";}
.k-icon-qt-acknowledge-lock::before {content: "\f15e";}
.k-icon-qt-acknowledge::before {content: "\f15f";}
.k-icon-qt-area-lock::before {content: "\f160";}
.k-icon-qt-area::before {content: "\f161";}
.k-icon-qt-audio-lock::before {content: "\f162";}
.k-icon-qt-audio::before {content: "\f163";}
.k-icon-qt-barcode-lock::before {content: "\f164";}
.k-icon-qt-barcode::before {content: "\f165";}
.k-icon-qt-calculate-lock::before {content: "\f166";}
.k-icon-qt-calculate::before {content: "\f167";}
.k-icon-qt-date-lock::before {content: "\f168";}
.k-icon-qt-date-time-lock::before {content: "\f169";}
.k-icon-qt-date-time::before {content: "\f16a";}
.k-icon-qt-date::before {content: "\f16b";}
.k-icon-qt-decimal-lock::before {content: "\f16c";}
.k-icon-qt-decimal::before {content: "\f16d";}
.k-icon-qt-external-xml-lock::before {content: "\f16e";}
.k-icon-qt-external-xml::before {content: "\f16f";}
.k-icon-qt-file-lock::before {content: "\f170";}
.k-icon-qt-file::before {content: "\f171";}
.k-icon-qt-hidden-lock::before {content: "\f172";}
.k-icon-qt-hidden::before {content: "\f173";}
.k-icon-qt-line-lock::before {content: "\f174";}
.k-icon-qt-line::before {content: "\f175";}
.k-icon-qt-meta-default::before {content: "\f176";}
.k-icon-qt-note-lock::before {content: "\f177";}
.k-icon-qt-note::before {content: "\f178";}
.k-icon-qt-number-lock::before {content: "\f179";}
.k-icon-qt-number::before {content: "\f17a";}
.k-icon-qt-photo-lock::before {content: "\f17b";}
.k-icon-qt-photo::before {content: "\f17c";}
.k-icon-qt-point-lock::before {content: "\f17d";}
.k-icon-qt-point::before {content: "\f17e";}
.k-icon-qt-question-matrix-lock::before {content: "\f17f";}
.k-icon-qt-question-matrix::before {content: "\f180";}
.k-icon-qt-range-lock::before {content: "\f181";}
.k-icon-qt-range::before {content: "\f182";}
.k-icon-qt-ranking-lock::before {content: "\f183";}
.k-icon-qt-ranking::before {content: "\f184";}
.k-icon-qt-rating-lock::before {content: "\f185";}
.k-icon-qt-rating::before {content: "\f186";}
.k-icon-qt-select-many-lock::before {content: "\f187";}
.k-icon-qt-select-many::before {content: "\f188";}
.k-icon-qt-select-one-lock::before {content: "\f189";}
.k-icon-qt-select-one::before {content: "\f18a";}
.k-icon-qt-text-lock::before {content: "\f18b";}
.k-icon-qt-text::before {content: "\f18c";}
.k-icon-qt-time-lock::before {content: "\f18d";}
.k-icon-qt-time::before {content: "\f18e";}
.k-icon-qt-video-lock::before {content: "\f18f";}
.k-icon-qt-video::before {content: "\f190";}
.k-icon-question::before {content: "\f191";}
.k-icon-replace::before {content: "\f192";}
.k-icon-report::before {content: "\f193";}
.k-icon-search::before {content: "\f194";}
.k-icon-settings::before {content: "\f195";}
.k-icon-sort-down::before {content: "\f196";}
.k-icon-sort-up::before {content: "\f197";}
.k-icon-spinner::before {content: "\f198";}
.k-icon-subscribe::before {content: "\f199";}
.k-icon-table::before {content: "\f19a";}
.k-icon-tag::before {content: "\f19b";}
.k-icon-template-locked::before {content: "\f19c";}
.k-icon-template::before {content: "\f19d";}
.k-icon-trash::before {content: "\f19e";}
.k-icon-unfreeze::before {content: "\f19f";}
.k-icon-unsubscribe::before {content: "\f1a0";}
.k-icon-up::before {content: "\f1a1";}
.k-icon-upload::before {content: "\f1a2";}
.k-icon-user-share::before {content: "\f1a3";}
.k-icon-view-all::before {content: "\f1a4";}
.k-icon-view::before {content: "\f1a5";}
.k-icon-xls-file::before {content: "\f1a6";}
.k-icon-xml-file::before {content: "\f1a7";}
