.page.custom-section-page {
  .page__body {
    > p.caption {
      font-weight: 700;
      font-size: rem(36px);
      line-height: rem(50px);
    }

    > ul {
      display: none;
    }

    > ul > li > ul {
      padding-left: rem(30px);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $c_denim;
        text-decoration: underline;
      }
    }

    li.toctree-l1 {
      border-top: 1px solid $c_linkwater;
      margin-top: rem(16px);
      padding-top: rem(16px);

      > a {
        font-size: rem(18px);
        font-weight: 500;
      }
    }

    li.toctree-l2 {
      margin-top: rem(16px);

      > a {
        font-size: rem(16px);
        font-weight: 400;
      }
    }
  }

  &#getting-started .page__body {
    > p.caption:not(#getting-started-section-caption) {
      display: none;
    }

    p.caption#getting-started-section-caption + ul {
      display: block;
    }
  }

  &#creating-forms .page__body {
    > p.caption:not(#creating-forms-section-caption) {
      display: none;
    }

    p.caption#creating-forms-section-caption + ul {
      display: block;
    }
  }

  &#collecting-data .page__body {
    > p.caption:not(#collecting-data-section-caption) {
      display: none;
    }

    p.caption#collecting-data-section-caption + ul {
      display: block;
    }
  }

  &#managing-projects .page__body {
    > p.caption:not(#managing-projects-section-caption) {
      display: none;
    }

    p.caption#managing-projects-section-caption + ul {
      display: block;
    }
  }

  &#computer-server .page__body {
    > p.caption:not(#computer-server-section-caption) {
      display: none;
    }

    p.caption#computer-server-section-caption + ul {
      display: block;
    }
  }

  &#new-1 .page__body {
    > p.caption:not(#new-1-section-caption) {
      display: none;
    }

    p.caption#new-1-section-caption + ul {
      display: block;
    }
  }

  &#new-2 .page__body {
    > p.caption:not(#new-2-section-caption) {
      display: none;
    }

    p.caption#new-2-section-caption + ul {
      display: block;
    }
  }

  &#new-3 .page__body {
    > p.caption:not(#new-3-section-caption) {
      display: none;
    }

    p.caption#new-3-section-caption + ul {
      display: block;
    }
  }
}
