.page#index {
  background: $c_whitesmoke;

  .page__related {
    display: none;
  }

  #topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    > h1 {
      font-family: $font_source;
      font-weight: 700;
      font-size: rem(36px);
      text-transform: none;
      text-align: center;
      margin: 0 0 rem(12px);
      width: 100%;
    }

    > p {
      font-size: rem(18px);
      margin: 0 0 rem(42px);
      text-align: center;
      color: $c_manatee;
      width: 100%;
    }
  }

  .headerlink {
    display: none;
  }

  .toctree-wrapper[id^="home-page-toc-"] {
    background: $c_white;
    padding: rem(30px) rem(30px) rem(30px + 20px + 30px);
    position: relative;

    @include clearfix();

    @include screen-big() {
      width: calc(33.33% - #{rem(20px)});

      // first and second in the row have margin
      &:nth-of-type(3n+1),
      &:nth-of-type(3n+2) {
        margin-right: rem(30px);
      }

      &:nth-of-type(n+4) {
        margin-top: rem(30px);
      }
    }

    @include screen-small() {
      width: 100%;

      &:not(:first-of-type) {
        margin-top: rem(30px);
      }
    }

    .caption {
      font-weight: 500;
      font-size: rem(21px);
      line-height: 1;
      padding: rem(5px) 0;
      margin: 0 0 rem(24px);
      padding-left: rem(50px); // 30px icon size plus 20px spacing
      background-position: left center;
      background-repeat: no-repeat;
      background-size: rem(30px) rem(30px);
    }

    // any list
    ul {
      list-style: none;
      margin: 0;
    }

    // nested list
    ul ul {
      display: none; // hide it
    }

    ul li {
      line-height: rem(20px);

      &:not(:first-child) {
        margin-top: rem(16px);
      }

      // hide all exceeding items
      &.toctree-l1:nth-child(n+6) {
        display: none;
      }
    }

    a,
    .link {
      text-decoration: underline;
      color: inherit;

      &:hover {
        color: $c_denim;
      }
    }

    .show-all-button {
      position: absolute;
      right: rem(30px);
      bottom: rem(30px);

      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(5px);
        width: rem(5px);
        height: rem(10px);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: rem(5px) rem(10px);
        background-image: url("../icons/custom/toc-chevron-right.svg");
      }
    }
  }

  // styles for custom sections
  .toctree-wrapper[id="home-page-toc-getting-started"] {
    .caption {
      background-image: url("../icons/custom/getting-started.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-account-billing"] {
    .caption {
      background-image: url("../icons/custom/account-billing.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-using-formbuilder"] {
    .caption {
      background-image: url("../icons/custom/using-formbuilder.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-using-xlsform"] {
    .caption {
      background-image: url("../icons/custom/using-xlsform.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-collecting-data"] {
    .caption {
      background-image: url("../icons/custom/collecting-data.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-managing-projects"] {
    .caption {
      background-image: url("../icons/custom/managing-projects.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-analyzing-data"] {
    .caption {
      background-image: url("../icons/custom/analyzing-data.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-integrations"] {
    .caption {
      background-image: url("../icons/custom/integrations.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-data-security-protection"] {
    .caption {
      background-image: url("../icons/custom/data-security-protection.png");
    }
  }

  .toctree-wrapper[id="home-page-toc-additional-resources"] {
    .caption {
      background-image: url("../icons/custom/additional-resources.png");
    }
  }
}

.toc-card .caption {
  display: block;
  text-decoration: none !important;
  color: inherit !important;
}

.toc-card {
  text-decoration: none !important;
  color: inherit;
}

.toc-card ul a {
  text-decoration: underline !important;
}
