.page#search {
  .page__body {
    form {
      display: none;
    }

    ul.search {
      padding: 0;
      margin: rem(15px) 0 0 rem(20px);
      list-style: decimal;

      li {
        padding: rem(5px) 0;
        background: none;
      }
    }
  }

  .page__related {
    display: none;
  }
}
