@import "variables";

* {
  box-sizing: border-box;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  line-height: 1.25em;
}

body {
  font-family: $font_roboto;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: $c_rhino;
  background: $c_whitesmoke;
}

a,
.link {
  cursor: pointer;
  color: $c_blue;
  transition: $link_transition;

  &:hover {
    transition: $link_transition;
    color: darken($c_blue, 15%);
  }

  &.button {
    @include button();

    &.button--black {
      background: $c_rhino;

      &:hover {
        background: darken($c_rhino, 15%);
      }
    }
  }
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
  color: inherit;
  shape-rendering: geometricPrecision;
  fill: currentColor;
}
