$blue: #2095f3;
$black: #414453;
$gray: #a6aaba;
$green: #52c5d0;
$white: #fff;
$solitude: lighten($black, 63%);
$whitesmoke: lighten($black, 68%);

$header_height: 70px;

$alabaster_breakpoint: 875px;

$min_width: 320px;
$max_width: 1000px;
$min_font: 14px;
$max_font: 18px;
$link_transition: all 0.2s;

$font_source: "Source Sans Pro", sans-serif;
$font_roboto: "Roboto", sans-serif;
