$c_blue: #2095f3;
$c_black: #414453;
$c_gray: #a6aaba;
$c_green: #52c5d0;
$c_white: #fff;
$c_solitude: lighten($c_black, 63%);
$c_whitesmoke: lighten($c_black, 68%);
$c_smalt: #004a8d;
$c_manatee: #8a8fa3;
$c_linkwater: #cfd5e3;

$header_height: 70px;

$alabaster_breakpoint: 875px;

$min_width: 320px;
$max_width: 1000px;
$min_font: 14px;
$max_font: 18px;
$link_transition: all 0.2s;

$font_source: "Source Sans Pro", sans-serif;
$font_roboto: "Roboto", sans-serif;
